@font-face {
    font-family: 'Titulos';
    src: url('src/assets/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Subtitulos';
    src: url('src/assets/fonts/Ablation.otf') format('truetype');
}

body {
    font-family: 'Titulos';
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 5%;
    position: relative;
}

#extraContainer {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.links,
.links>h1 {
    font-family: 'Subtitulos';
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3vw;
    color: white;
}

/* Estilos del contenedor de búsqueda */
.search-container {
    position: relative;
    display: inline-block;
    width: 30%;
}

.search-input {
    padding: 10px 32px 10px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2vw;
    width: calc(100% - 40px);
    font-family: 'Titulos';
    outline: none;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-button img {
    width: 24px;
    height: auto;
}

.selec>h1 {
    color: #f26398 !important
}

.userContent h1 {
    font-family: 'Subtitulos';
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3vw;
    color: white;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    border: none;
    list-style: none;
    margin: 0;
}

.userContent ul {
    display: none;
    position: absolute;
    background: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 2;
}

.userContent ul li {
    float: none;
    width: 100%;
    margin-top: 0;
}

.userContent ul a {
    font-family: 'Subtitulos';
    line-height: 120%;
    padding: 10px 15px;
    display: block;
    color: #09231E;
    background-color: #d9f27e;
    font-size: 1.1vw;
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.userContent ul a:hover {
    background-color: #f26398;
}

.userContent h1:hover+ul,
.userContent>ul:hover {
    display: block;
}